*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .form{
    background-image: url(https://ychef.files.bbci.co.uk/1280x720/p0639ffn.jpg);
    background-repeat: round;
  }

 header{
   background-color: #F9F8FC;
   text-align: center;
   background-image: url(https://img.rtve.es/imagenes/por-estrellas-solo-brillan-noche/1682336188585.jpg);
 }

 img.logo{
    height: 250px;
    width: 250px;
    margin: auto;
 }

 #logo h1{
    color: blueviolet;
    font-family: 'Pacifico', cursive;
    font-size: 60px;
  }

  aside{
    float: left;
    margin-left: 1%;
    margin-right: 5%;
    background-color: #17181c57;
    padding: 25px;
    height: min-content;
    width: min-content;
    
  }

  nav{
    background-color:#17181C;
    text-align: center;
    display: block;
    unicode-bidi: isolate;
  }

  nav div {
    font-family: 'Pacifico', cursive;
    border-width:4px;
    border-style:dotted;
    border-color: blueviolet;
    display: inline-block;
    padding: 20px;
    width: 24%;
    color: white;
    text-align: center;
}

nav div a{
    color: blueviolet;
    text-decoration: none;
    font-size: 25px;
}

section{
    text-align: center;
    display: flex;
    justify-content: center;
}

section article{
    margin-left: 5%;
    margin-right: 5%;
}

.fuentes{
  margin-left: 25%;
}

footer{
  margin-left: 25px;
}

section{
  columns: 2;
}

a{
  margin: 5%;
}

table{
  background-color: gainsboro;
}

footer{
  margin-left: 25px;
  color: blueviolet;
}

form{
  text-align: center;
  background-size: 100%;
  margin-bottom: 20%;
}